{% extends "base.j2" %}
{% block header %}
{#    <span class="content-section">About Page</span>#}
{% endblock header %}
{% block content %}
    <h1>Database Manager</h1>
    <div class="content-section" >This is an exercise for managing a database through web pages. It will ultimately be incorporated into another project</div>
{% endblock content %}